:host {
	position: relative;

	div.image {
		padding-top: 100%;
	}

	.image {
		width: 100%;

		opacity: 1;
		transition: opacity 1s ease-out;

		background-position: center;
		background-size: contain;

		&.loading {
			opacity: 0;
		}
	}

	.spinner {
		$size: 60px;
		$spinner-width: 6px;

		position: absolute;
		top: calc(50% - #{$size} / 2 - #{$spinner-width});
		left: calc(50% - #{$size} / 2 - #{$spinner-width});
		border: $spinner-width solid #f3f3f3;
		border-top: $spinner-width solid lightsteelblue;
		border-radius: 50%;
		width: $size;
		height: $size;
		opacity: 0.5;
		animation: spin 2s linear infinite;

		@keyframes spin {
			0% {
				transform: rotate(0deg);
			}
			100% {
				transform: rotate(360deg);
			}
		}
	}
}
