<!-- Lazy loading as img src -->
<!-- <img class="image"
    [appLazyLoadImage]="image.url"
    [class.loading]="isLoading"
    (imageLoaded)="isLoading = false" /> -->

<!-- Lazy loading as background-image -->
<div [appLazyLoadImage]="image.url"
    class="image"
    [class.loading]="isLoading"
    (imageLoaded)="isLoading = false"></div>

<div *ngIf="isLoading"
    class="spinner"></div>