$grid-gap: 20px;

:host {
	overflow: hidden;

	.images-grid {
		display: flex;
		flex-wrap: wrap;
		padding: $grid-gap 0 0 $grid-gap;
		margin: -$grid-gap;
		max-width: 1200px;
		margin: 0 auto;

		& > app-image {
			border: 0 solid transparent;
			border-width: 0 $grid-gap $grid-gap 0;
			background-clip: padding-box;

			// 1 column
			width: calc(100% / 1);

			@media (min-width: 600px) {
				// 2 columns
				width: calc(100% / 2);
			}

			@media (min-width: 900px) {
				// 3 columns
				width: calc(100% / 3);
			}
		}
	}
}
